{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{{'style.css'}}">
{% block page_content %}
<h1 class = "text-center display-4 m-3 " >Computer Science Blog</h1>
<div class="row">
{% for blog in blogs %}
    <div class="col-md-4">
        <div class="card mb-2">
	<div class="text-center">
         		{% load static %} <img src= "{{blog.image.url}}" width="348px" height="270px" />
	</div>
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <a href="{% url 'blog_detail' blog.pk %}"
                   class="btn btn-primary">
                    More Information
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class = "sidenav">
<p class = "proj text-center" > TODO LIST <br></p>
{% for todo in todos %} 
<a href ="{% url 'todo_index' todo.pk%}" >{{todo.title}} <br><br> </a>
{% endfor %}
</div>

{% endblock %}
