div.sidenav { 
background:#eda85f;
border-right-style: solid;
border-color:#f2f4f5;
border-width:5px;
position: absolute;
left: 0px;
top: 0px;
height:200%;
width:220px;
}


a {
font-family:Charcoal, sans-serif;
    color:#ffffff;
    text-decoration: none;
}

p.proj {
font-family:'Abel';
font-size: 40px;

}

nav.navbar {
background-color:#fabb61;

}

div.pp {
column-width: 600px;
right:200px
}

